
*{
    margin: 0;
    padding: 0;
    border: 0;
  }
  body {
background-color: hsl(235, 18%, 26%);
  }
  .body-container{
    background-color: hsl(235, 18%, 26%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  4rem;
  }
  .sign-up-card {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0px;
  
    border-radius: 1rem;
  }
  .title {
    padding: 0;
    margin: 8% 4% 8% 0%;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }
  .info-pane {
    flex: 1;

  }
  .textbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 5%;
    gap: 10px;
    
  }
  .text-container {
    display: block;
    margin:8%
  }

  .bullet-text {
    display: flex;
    margin-top: 0%;
    margin-bottom: -3%;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
      font-size: 16px;

  }
  
  #email {
    border: solid 1px lightgray;
    border-radius: 4px;
    height: 2.5rem;
    width: 10rem;
    font-size: 1rem;
    color: rgb(141, 137, 137);
    margin-bottom: 8%;
  }
  li {
    display: flex;
    flex-wrap: nowrap;
  }
  img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }
  .feature-list {
    display: flex;
    flex-direction: column;
    font-size: calc(16px + 0.390625vw);
    list-style: none;
    gap: 8px;
  }
  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .title-caption {
    margin-bottom: 5%;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
  .bullet-point-img {
    margin-right: 10px;
    margin-top: 0%;
    margin-bottom: 2%;
  }



  /* Media query for mobile screens */
  @media (max-width: 500px) {
    .image-mobile-container {
      display: flex; /* Show the mobile image */
    }
    .image-desktop-container {
      display: none; /* Hide the desktop image */
    }

    /* Ensure the mobile image scales down proportionally */
    .image-mobile-container img {
      width: 100%;
    }
    .body-container{
    background-color: hsl(235, 18%, 26%);

    margin:  0;
  }
  }
  .text-container {
    display: block;
    margin: 8%;
  }

  .bullet-text {
    display: flex;
    margin-top: 0%;
    margin-bottom: -3%;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-size: 16px;
  }

  #email {
    border: solid 1px lightgray;
    border-radius: 4px;
    height: 2.5rem;
    width: 10rem;
    font-size: 1rem;
    color: rgb(141, 137, 137);
    margin-bottom: 8%;
  }

  li {
    display: flex;
    flex-wrap: nowrap;
  }

  img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }

  .feature-list {
    display: flex;
    flex-direction: column;
    font-size: calc(16px + 0.390625vw);
    list-style: none;
    gap: 8px;
  }
  .card-container {
    border: 0;

    padding: 0;


        }

  .attribution {
    font-size: 11px;
    text-align: center;
  }

  .title-caption {
    margin-bottom: 5%;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  .bullet-point-img {
    margin-right: 10px;
    margin-top: 0%;
    margin-bottom: 2%;
  }



  /* Media query for desktop screens */
  @media (min-width: 501px) {
    .image-mobile-container {
      display: none; /* Hide the mobile image */
    }
    .image-desktop-container {
      display: block;
      margin: 0;
      width: 50%; /* Show the desktop image */
    }
  }